body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
  color: #213547;
    background-color: #ffbbbb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 40px;
  width: 50px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff5f5;
  cursor: pointer;
  position: absolute;
  right: 20%;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lightmode {
    color: rgb(33, 53, 71);
    background-color: rgb(255, 187, 187);
    font-family: 'Lexend', sans-serif;
}

.darkmode {
    color: hsl(0, 79%, 7%);
    background-color: rgb(207, 17, 17);
    font-family: 'Diplomata SC', cursive;
    text-align: center;
  }


.browser {
  width: 15px;
  margin: 5px;
  transition: .5s;
}

.browser:hover {
  filter:invert(50%);
}

.browserthing {
  position: absolute;
  top: 2%;
  left: 2%;
}

.toggle {
  padding: auto;
  position: absolute;
  top: 8%;
  left: 30%;
  font-size: 90%;
}

h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 25%;
  width: 100%;
  text-align: center;
}

#elsome {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 10px;
  width: 75em;
  height: 75em;
}

.card { 
  padding: 5%;
  background-color: rgba(255, 227, 227, 0.688);
  width: 15em;
}

h2 {
  
}

.accountants {
  height: 5em;
  display: block;
  align-self: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}