body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
  color: #213547;
    background-color: #ffbbbb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2bdbd;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lightmode {
    color: #213547;
    background-color: #ffbbbb;
    font-family: 'Lexend', sans-serif;
}

.darkmode {
    color: hsl(0, 79%, 7%);
    background-color: #cf1111;
    font-family: 'Diplomata SC', cursive;
  }


.browser {
  width: 15px;
  margin: 5px;
  transition: .75s;
}

.browser:hover {
  filter: grayscale(65%);
}

.browserthing {
  position: absolute;
  top: 2%;
  left: 2%;
}

.toggle {
  padding: auto;
  position: absolute;
  top: 8%;
  left: 30%;
  font-size: 90%;
}

h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}