body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Lexend', sans-serif;
  color: #213547;
    background-color: #ffbbbb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#toggleswitch {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 40px;
  width: 50px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff5f5;
  cursor: pointer;
}

.lightmode {
    color: rgb(33, 53, 71);
    background-color: rgb(255, 187, 187);
    font-family: 'Lexend', sans-serif;
}

.darkmode {
    color: hsl(0, 79%, 7%);
    background-color: rgb(207, 17, 17);
    font-family: 'Diplomata SC', cursive;
    text-align: center;
  }


.browser {
  width: 15px;
  margin: 5px;
  transition: .5s;
}

.browser:hover {
  filter:invert(50%);
}

.browserthing {
  position: absolute;
  top: 2%;
  left: 2%;
}

.toggle {
  padding: auto;
  position: absolute;
  font-size: 90%;
  right: 20px;
  top: 20px;
}

/* #cheap {
  position: absolute;
  top: 50px;
  margin-left: 50px;
}

#expensive {
  position: absolute;
  top: 50px;
  left: 50%;
}

#loser {
  position: absolute;
  top: 50px;
  margin-left: 220px;
} */

.filters {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sort {
  padding: 10px;
  border-radius: 8px;

}
h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 15%;
  width: 100%;
  text-align: center;
}

/* #container {
  width:auto
} */
#elsome {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
  padding: 10px;
  width: 75vw;
  height: 75em;
  
}

.card { 
  padding: 5%;
  background-color: rgba(255, 227, 227, 0.688);
  width: 23em;
}

h2 {
  text-align: center;
}

.accountants {
  height: 12em;
  display: block;
  align-self: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #ff66666e;
  border-radius: 10px;
}

.info {

}